%ul#nav
  %li{:class=>"#{request.path=='/' ? 'active' : ''}"}
    %a{:href=>'/'}
      %span= "Home"
  %li{:class=>"#{@current=='products' ? 'active' : ''}"}
    %a{:href=>'/activities'}
      %span= "Actions"
    %a{:href=>'/pages/about_us' }
      %span= "About Us "
    -# = link_to "About Us", "pages/about_us" 
    -# %li{:class=>"#{@current=='products' ? 'active' : ''}"}
    -# %a{:href=>'/contact'}
    -# %span= "Contact Us"


